body {
    margin: 40px;
  }
  
  .sidebar {
          grid-area: sidebar;
      }
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: #fff;
          color: #444;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "sidebar"
       "content"
       "footer"
    }

    #butcherPig {
        max-width: 100%;
        height: auto;
        padding-top: 25px;
    }
  
      @media only screen and (min-width: 500px)  {
	      .wrapper {
	      	  grid-gap: 1em;
	          grid-template-columns: repeat(3, 1fr);
	          grid-template-areas:
	            "header   header header"
	            "sidebar  content content"
	            "footer   footer footer";
	          grid-auto-rows: minmax(150px; auto);
	      }
      }
  
      @media only screen and (min-width: 600px)   {
          .wrapper {
        	  grid-gap: 1em;
              grid-template-columns: repeat(3, 1fr);
              grid-template-areas:
        		"header  header header"
                "sidebar  content content"
                "footer   footer footer"
              grid-auto-row: minmax(150px; auto);
              max-width: 1400px;
          }
      }
      
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%; 
  }
  
.header {
    background-color: #FFF;
    padding:4em;
  }
  
  
.footer {
    background-color: rgb(134, 134, 134);
  }

.button{
    margin-top: 1rem;
    margin-right: 1rem;
}

.info{
    font-size: 100%;
}

.link{
    color: #FFF;
    text-decoration: underline;
}

.link:hover{
    color: #444;
}
